body {
    background: #f2fdfd;
    font-family: "Roboto", sans-serif;
}

.container {
    border: 5px solid #02aec7;
    border-top: none;
    padding: 15px;
    border-radius: 0 0 16px 16px;
    background: #fff;
    padding-top: 0px;
}


/* content */

a,
.btn,
.sectionedLast {
    color: #fff;
    background: #02aec7;
    padding: 5px 10px;
    margin: 15px auto;
    border-radius: 16px;
    display: inline-block;
    border: none;
}

.btn {
    padding: 8px 18px;
}

a:hover,
.btn:hover {
    background: #007183;
    color: #fff;
    transition: all 0.6s ease 0s;
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.verticalList a {
    margin: 5px 0;
}

.largeList li {
    list-style-type: disc;
    font-size: 18px;
    margin-left: 30px;
}


/* forms */

form.narrow {
    width: 400px;
}

.form-control {
    margin-bottom: 10px;
    border-color: #777;
}


/* rating picker */

fieldset {
    border: none;
    min-width: 0;
}

.ratingPicker {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.ratingPicker input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.ratingPicker input+label {
    margin-right: 2px;
    padding-top: 5px;
    border: solid 1px #ddd;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.ratingPicker input:hover+label {
    border-color: #02aec7;
    background-color: #02aec7;
    color: #fff;
    box-sizing: border-box;
    transition: all 0.6s ease 0s;
    cursor: pointer;
}

.ratingPicker input:checked+label {
    background-color: #02aec7;
    border-color: #02aec7;
    color: #fff;
    transition: all 0.6s ease 0s;
}


/* nav */

#logo {
    margin-top: 5px;
    height: 36px;
}

.dropdown {
    color: #fff;
    background: #02aec7;
    display: inline-block;
    border: none;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-radius: 0;
}

.dropdown:hover {
    transition: all 0.6s ease 0s;
    background: #007183;
}

.nav li a,
.nav li a:hover {
    padding: 10px;
    background: inherit;
    margin: 0;
    cursor: pointer;
    transition: none;
}

.nav {
    margin: 0 5px 20px 15px;
    display: inline-block;
    vertical-align: top;
}

.nav li {
    display: inline-block;
    color: #fff;
    background: #02aec7;
    border-right: 1px solid #fff;
}

.nav>li:first-of-type {
    border-radius: 0 0 0 16px;
    padding-left: 5px;
}

.nav>li:last-child {
    border-radius: 0 0 16px 0;
    padding-right: 5px;
}

.nav li:hover {
    background: #007183;
    color: #fff;
    transition: all 0.6s ease 0s;
    text-decoration: none;
}

ul ul {
    display: none;
}

ul li:hover>ul {
    display: block;
}

.nav li ul {
    position: absolute;
    margin-left: -1px;
    border-radius: 0 0 16px 16px;
    border: 1px solid #fff;
    background: #fff;
    border-width: 0 1px 1px 1px;
    overflow: hidden;
}

.nav li ul li {
    display: block;
    border: none;
    border-top: 1px solid #fff;
    border-radius: 0;
}