extends master.pug
block title
    | Actor Details
block content
    h1 #{actor.name}
    h4 Born: #{actor.birthday}
    h2 Filmography
    ul(class='verticalList')
        for movie in actor.movies
            li
                a(href='/movie/'+movie.movieID) #{movie.name} - released #{movie.releaseDate}
    div.add
        | This actor is not in your favorites: 
        a(onclick="divStatus=document.getElementById('status');divStatus.innerHTML='Added to favorites';divStatus.style.color='#f00';setTimeout(function(){divStatus.style.color='#fff';},1000);")
            | Add actor to favorites
    div#status(style='font-weight:bold;font-size:22px')
