extends master.pug
block title
    | Add Actor
block content
    h2 Add Actor
    form.narrow(method='POST' action='/addActor')
          div.form-group
            label(for='name') Name:
            input#email.form-control(type='text', name='name' autocomplete='off' required)
          div.form-group
            label(for='birthday') Birthday:
            input#pw.form-control(type='date' name='birthday' autocomplete='off' required)
          button.btn.btn-primary(type='submit') Submit
