extends master.pug
block title
    | Add Actor
block content
    h2 Add Actor
    form.narrow(method='POST' action='/addActor')
        div.relative
            input.form-control(type='text' name='name' autocomplete='off' required)
            span.placeholderLabel Actor Name
        div.relative
            input.form-control.date(type='text' name='birthday' autocomplete='off' required)
            span.placeholderLabel Birthday (MM/DD/YYYY)
        div.recaptcha !{recaptcha}
        button.btn.btn-primary(type='submit') Submit
        if status == 1
            h4 Successfully added
        if status == 0
            h4 Error adding data
        script.
            var cleave = new Cleave('.date', {
                date: true,
                delimiter: '/',
                datePattern: ['m', 'd', 'Y']
            });
