extends master.pug
block title
    | MovieMojo
block content
    h1.red Server Error
    if errorMessage
        h4.red #{errorMessage}
    else
        h4.red Please try again, or review the server log