extends master.pug
block title
    | MovieMojo
block content
    if errorMessage
        h1 Server Error
        h4 #{errorMessage}
    else
        h1 Server Error
        h4 Please try again, or review the server log