extends master.pug
block title
    | MovieMojo
block content
    h1 Welcome to MovieMojo
    if sessionName
        h4(style='color:red') Logged in as: #{sessionName} (#{sessionEmail})
    h4 Google Chrome is the officially supported browser for this website
    h4 Here are some of the features this website has to offer:
    ul(class='largeList')
        li Deter spam bots with reCAPTCHA
        li List all movies and actors
        li Search for movies or actors by name
        li Add movie and actor data
        li Link movies to actors
        li Create a user account and log in
        li See movie details by clicking a movie name from the actor details page
        li See actor details and the movies they were in by clicking their name on the movie details page
        li Assign a rating to a movie
    h4 These features are in progress:
    ul(class='largeList')
        li Delete ratings
        li Update ratings
        li View ratings on movie details page
        li Add a movie to watched list or watch later list
        li Delete movies from watched list or watch later list
        li Update account password
        li Add favorite actors to your account
        li Delete favorite actors from your account