extends master.pug
block title
    | MovieMojo
block content
    h4 Welcome to MovieMojo! Here are some of the features this website has to offer:
    ul(class='largeList')
        li Search for movies by name, release date or actor
        li See actor details and the movies they were in by clicking their name on the movie details page
        li See movie details by clicking a movie name from the actor details page
        li Create a user account and use it to log in
        li Add favorite actors to your user account
        li Assign movies a rating
        li Add movies to your watched list or watch later list
        li Add movie and actor data
    h4 Some of these features are in progress