extends master.pug
block title
    | Movie List
block content
    h1= 'List of Movies'
    ul(class='verticalList')
        for movie in movieList
            li
                a(href='/movie/'+movie.movieID) #{movie.name} - Released on #{movie.releaseDate}
