html
    head
        title
            block title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
    body
    div(class='container')
        block content