doctype html
html
    head
        title
            block title
        link(rel='icon', type='image/png', href='/media/icon.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css')
        script(src="https://cdn.jsdelivr.net/npm/cleave.js@1.5.7/dist/cleave.min.js")
        link(rel='stylesheet', href='/css/style.css?v=2')
    body
    div(class='container')
        a(class="imgLink" href="/"): img(id='logo' src='/media/logo.png')
        ul(class='nav')
            li
                a(href="/movies") Movies
            li
                a(href="/actors") Actors
            li
                span(class="dropdown") Add...
                ul
                    li
                        a(href="/addMovie") Movie Data
                    li
                        a(href="/addActor") Actor Data
                    li
                        a(href="/linkActors") Link Actors
            li
                if sessionUserID == -1
                    a(href="/createAccount") Create account
                else
                    a(href="/myAccount") My Account
            li
                if sessionUserID == -1
                    a(href="/signIn") Sign In
                else
                    a(href="/signIn/signOut") Sign Out
        block content