extends master.pug
block title
    | Movie Search
block content
    h1= 'Search results'
    table
    ul(class='verticalList')
        for movie in movieList
            li
                a(href='/movie/'+movie.movieID) #{movie.name}, released #{movie.releaseDate}
