extends master.pug
block title
    | Movie Details
block content
    h1= movie.name
    h4 Release Date: #{movie.releaseDate}
    ul(class='verticalList')
        for actor in movie.actors
            li
                a(href='/actor/'+actor.actorID) #{actor.name}
    div.add
        div This movie is not on your list: 
        a(onclick="divStatus=document.getElementById('status');divStatus.innerHTML='Added as watched';divStatus.style.color='#f00';setTimeout(function(){divStatus.style.color='#fff';},1000);") I watched this
        a(onclick="divStatus=document.getElementById('status');divStatus.innerHTML='Added to watch later';divStatus.style.color='#f00';setTimeout(function(){divStatus.style.color='#fff';},1000);") Add to watch later
    form.rating
        div Rating:
        fieldset
            span.ratingPicker(onclick="divStatus=document.getElementById('status');divStatus.innerHTML='Rating Saved';divStatus.style.color='#f00';setTimeout(function(){divStatus.style.color='#fff';},1000);")
                <input type="radio" id="r1" name="rating" value="1" /><label for="r1">1</label>
                <input type="radio" id="r2" name="rating" value="2" /><label for="r2">2</label>
                <input type="radio" id="r3" name="rating" value="3" /><label for="r3">3</label>
                <input type="radio" id="r4" name="rating" value="4" /><label for="r4">4</label>
                <input type="radio" id="r5" name="rating" value="5" /><label for="r5">5</label>
                <input type="radio" id="r6" name="rating" value="6" /><label for="r6">6</label>
                <input type="radio" id="r7" name="rating" value="7" /><label for="r7">7</label>
                <input type="radio" id="r8" name="rating" value="8" /><label for="r8">8</label>
                <input type="radio" id="r9" name="rating" value="9" /><label for="r9">9</label>
                <input type="radio" id="r10" name="rating" value="10" /><label for="r10">10</label>
    div#status(style='font-weight:bold;font-size:30px')
