extends master.pug
block title
    | Movie Details
block content
    h1= movie.name
    h4 Release Date: #{movie.releaseDate}
    ul(class='verticalList')
        for actor in movie.actors
            li
                a(href='/actor/'+actor.actorID) #{actor.name}