extends master.pug
block title
    | Search Movies
block content
    h2 Search Movies
    form.narrow(method='POST' action='/searchMovie')
        div.relative
            input.form-control(type='text' name='movieName' autocomplete='off' required)
            span.placeholderLabel Movie Name
        button.btn.btn-primary(type='submit') Search
