extends master.pug
block title
    | Search for an Actor
block content
    h2 Search for an Actor
    form.narrow(method='POST' action='/searchActor')
        div.relative
            input.form-control(type='text' name='actorName' autocomplete='off' required)
            span.placeholderLabel Actor Name
        button.btn.btn-primary(type='submit') Search
