extends master.pug
block title
    | Sign In
block content
    h2 Sign In
    form.narrow(method='POST' action='/signIn')
        input#email.form-control(type='email', name='email' placeholder='Email' autocomplete='off' required)
        input#pw.form-control(type='password' name='password' placeholder='Password' autocomplete='off' required)
        button.btn.btn-primary(type='submit') Sign In
